@charset "utf-8";

/* 
  Data Types
  numbers: 1.2, 10, 10px
  string: foo, 'foo', "foo"
  colors: red, #ffa, rgba( 0, 0, 0 )
  boolean: true, false
  nulls: null
  list: Helvetica, Arial, sans-serif
  map: ( key: value, key2: value2 )
*/