dd { margin: 5px 10px 0 0 }
body { margin: 0; background-color: #eee;}
ul { padding: 0; margin: 0 }
li { list-style-position: inside }
li, p { line-height: 1.4;}
h1 { margin: 0.5em 0; font-size: 1.4em; }
h2 { margin: 0.3em 0; font-size: 1.2em; }
#box {
  padding: 10px 20px;
}
#blog dl {
  overflow: hidden;
}
#blog dd { 
  float: left;
}
