<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>note</title>
  <link rel="stylesheet" href="index/index.css">
  <meta name="viewport" content="width=device-width" />  
  <base target="_blank" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8175867d77e2de15a931846b667d024f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
  <div id="box"></div>
  <script type="text" id="tmpl-about">
  <div id="about">
    <h1><%= it.title %></h1>
    <img class="avatars" src="<%= it.avatars.src %>" width="<%= it.avatars.width %>" />
    <ul>
    <% for ( var i = 0, l = it.list.length; i < l; ++i ) { %>
      <% var item = it.list[i]; %>
      <li><%= item.label %>: 
        <% if ( item.link ) { %>
          <a href="<%= item.link%>">
        <% } %>
        <%= item.value %>
        <%if ( item.link ) { %>
          </a>
        <%}%>
      </li>
    <% } %>
      <li>Tags: <%= it.label.join( "," ) %></li>
    </ul>  
  </div>
</script>
  
  <script type="text" id="tmpl-blog">
  <div id="blog">
    <h1><%= it.title %></h1>
    <p><%= it.description %></p>
    <dl>
      <dt>标签:</dt>
      <% for ( var i = 0, l = it.labels.length; i < l; ++i ) { %>
        <dd><a href="<%= it.address + '&labels=' + encodeURIComponent(it.labels[i])
        %>"><%= it.labels[i] %></a></dd>
      <% } %>
    </dl>
    <h2>分享</h2>
    <ul>
      <% var shares =it.shares; %>
      <% for ( var i = 0, l = shares.length; i < l; ++i ) { %>
        <% var item = shares[i]; %>
        <li><a href="<%= item.address %>"><%= item.title %></a>
          <% if ( item.code ) { %>
            (<a href="<%= item.code %>">code</a>)
          <% } %>
          <% if(item.description) {%> (<%= item.description %>)<%} %>
        </li>
      <% } %>
    </ul>
    <% if ( it.demos && it.demos.length > 0 ) { %>
      <h2>实例</h2>
      <ul>
        <% var demos = it.demos; %>
        <% for ( var i = 0, l = demos.length; i < l; ++i ) { %>
          <% var item = demos[i]; %>
          <li>
            <% 
              var tmp;
              if ( Object.prototype.toString.call(item) == "[object Object]" ) {
                tmp = [item];
              } else tmp = item; 
            for ( var j = 0, n = tmp.length; j < n; ++j ) {
              var _item = tmp[j];
            %>
              <a href="<%= _item.address %>"><%= _item.title %></a><% if(_item.description) {%> (<%= _item.description %>)<%} %>
            <% } %>
          </li>
        <% } %>
      </ul>    
    <% } %>
  </div>
</script>
<script src="rt/rt.js"></script>
<script src="index/index.js"></script>
</body>
</html>
