@charset "utf-8";

.item {
  width: 240px;
  img {
    width: 100%;
  }
}

@each $key, $value in (
    // 灰度
    grayscale: 0.4,
    // 复古风
    sepia: 0.5,
    // 饱和度
    saturate: 2,
    //色相翻转
    hue-rotate: 45deg,
    // 反色
    invert: 0.8,
    // 透明度
    opacity: 0.3,
    // 亮度
    brightness: 1.3,
    // 对比度
    contrast: 0.5,
    // 模糊
    blur: 2px,
    // 阴影
    drop-shadow: 10px 10px 10px #000
) {
  ##{$key} img {
    -webkit-filter: $key + unquote( "(#{$value})" );
  }
}
