@charset "utf-8";

#box {
  text-align: center;
}

.item {
  width: 240px;
  display: inline-block;
  margin: 10px;
  img {
    width: 100%;
  }
  h1 {
    margin: 2px 0 10px;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: capitalize;
    &:after {
      content: '(' attr(data-id) ')';
    }
  }
}

@mixin prefix($p, $v) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$prefix + $p}: $v;
  }
}

@each $key, $value in (
  // 模糊
  blur: 2px,
  // 灰度
  grayscale: 0.75,
  // 透明度
  opacity: 0.5,
  // 复古风
  sepia: 0.5,
  // 饱和度
  saturate: 2,
  //色相翻转
  hue-rotate: 45deg,
  // 反色
  invert: 0.8,
  // 亮度
  brightness: 1.3,
  // 对比度
  contrast: 0.5,
  // 阴影
  drop-shadow: 10px 10px 10px #000
) {
  ##{$key} img {
    @include prefix(filter, $key + unquote( "(#{$value})" ));
  }
}
