<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <base target="_blank" />
  <title>CSS</title>
  <link rel="stylesheet" href="./css/base.css?v=2.1">
  <link rel="stylesheet" href="./css/app.css?v=2.1">
  <link rel="stylesheet" href="./css/scrollbar.css">
  <link rel="stylesheet" href="./css/default.css">
  <script src="./js/highlight.pack.js"></script>
  <script type="text/javascript">
  hljs.tabReplace = '  ';
  hljs.initHighlightingOnLoad();
  </script>
</head>
<body spellcheck="false" class="ppt">
  <section class="slide slide-cover">
    <h1>CSS</h1>
    <h2 class="h3">redky@qq.com</h2>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>CSS Box Model</h1>
    </div>
    <div class="bd">
      <li>margin
      <li><a href="http://zhanhongtao.github.io/blog/fe/border.html">border</a>/<a href="http://zhanhongtao.github.io/blog/fe/border-radius.html">border-radius</a>
      <li>padding
      <li>content(width/height)
      <li>box-sizing(border-box/content-box) - width/height
      <li>outline(?)
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Document Flow</h1>
    </div>
    <div class="bd">
      <ul>
        <li>static
        <li>fixed(body)
        <li>relative(self)
        <li>absolute(closest-parent-relative-element/body)
        <li>float
        <li><a href="http://jsfiddle.net/redky/6yYJm/">sticky</a>(only try)
      </ul>
      <h2>About</h2>
      <ul>
        <li>top/right/bottom/left(0, 1, 2, 3, 4)
        <li>z-index(require: relative/absolute)
        <li>clip( top, right, bottom, left ) // ie6,7: clip(top right bottom left)
        <li>clear(left/right/both)
        <li>overflow(hidden/auto/visible/scroll)        
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Display</h1>
    </div>
    <div class="bd">
      <ul>
        <li>initial
        <li>none
        <li>inline
        <li>inline-block
        <li>block
        <li><a href="http://zhanhongtao.github.io/blog/fe/flex/">flex</a>(box)
        <li>inline-flex
        <li>table/table-cell
        <li>...
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Selector</h1>
    </div>
    <div class="bd">
      <ul>
        <li>E
        <li>#id
        <li>.class
        <li><a href="http://zhanhongtao.github.io/blog/fe/selector/sibling-selectors.html">siblings</a>
          <ul>
            <li>E F
            <li>E > F
            <li>E + F
            <li><a href="http://zhanhongtao.github.io/blog/fe/selector/~.html">E ~ F</a>
          </ul>
        </li>
        <li><a href="http://jsfiddle.net/redky/DaG94/">pseudo-element</a>
          <ul>
            <li>E::before
            <li>E::after
          </ul>
        <li>E:link
        <li>E:visited
        <li>E:hover
        <li>E:active
        <li>E:focus
        <li><a href="http://zhanhongtao.github.io/blog/fe/selector/attribute-selectors.html">attribute</a>
          <ul>
            <li>E[foo]
            <li>E[foo="bar"]
            <li>E[foo~="bar"]
            <li>E[foo^="bar"]
            <li>E[foo$="bar"]
            <li>E[foo*="bar"]
            <li>E[foo|="en"]
          </ul>
        <li>E:root
        <li><a href="http://jsfiddle.net/redky/hR3q3/">:nth-child</a>
          <ul>
            <li>E:first-child
            <li>E:last-child
            <li>E:nth-child(n)
            <li>E:nth-last-child(n)
            <li>E:nth-child(even)/E:nth-child(5)/E:nth-child(n+6)/E:nth-child(5-n)
          </ul>
        </li>
        <li><a href="http://zhanhongtao.github.io/blog/fe/selector/type-child.html">type of child</a>
          <ul>
            <li>E:nth-of-type(n)
            <li>E:nth-last-of-type(n)
            <li>E:first-of-type
            <li>E:last-of-type
            <li>E:only-child
            <li>E:only-of-type
          </ul>
        <li>E:empty
        <li>E:target
        <li><a href="http://jsfiddle.net/redky/E8DRF/">E:selection</a>
        <li>E:lang(fr)
        <li><a href="http://zhanhongtao.github.io/blog/fe/selector/input-type.html">status</a>
            <ul>
              <li>E:disabled
              <li>E:enabled
              <li>E:checked
            </ul>
        <li>E::first-line
        <li>E::first-letter
        <li><a href="http://zhanhongtao.github.io/blog/fe/selector/not.html">not</a>
        <li>*
      </ul>
      <a href="http://www.w3.org/TR/css3-selectors/">http://www.w3.org/TR/css3-selectors/</a>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Cascade Order</h1>
    </div>
    <div class="bd">
      <ol>
        <li>!important
        <li>inline style
        <li>ID
        <li>class/pseudo-class/property
        <li>tag/pseudo-element
        <li>css
        <li>*
      </ol>
      <a href="http://www.w3.org/TR/CSS2/cascade.html#cascade">http://www.w3.org/TR/CSS2/cascade.html#cascade</a>
    </div>
  </section>
  <section class="slide toggle">
    <div class="hd">
      <h1>Link</h1>
    </div>
    <div class="bd">
      <li>Normal
      <li>Hover
      <li>Focus
      <li>Active
      <li>Visited
      <li>Disabled(?)
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Block Formatting Contexts</h1>
    </div>
    <div class="bd">
      <p>块级格式化上下文, 有自己独立的布局环境和规则, 它不受外部环境影响, 也不会影响外部环境; 可以包裹内部的 float 元素, 同时不与外部 float 元素重叠.</p>
      <h2>触发条件</h2>
      <ol>
        <li>float: 除 none 以外的值 - 浮动元素
        <li>position: absolute, fixed - 绝对定位元素
        <li>display: table-cell(table), table-caption, inline-block - 非块级盒子的块级容器
        <li>overflow: 除了 visible 以外的值( hidden/auto/scroll )
      </ol>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>clearfix</h1>
    </div>
    <div class="bd">
<pre class="codebox">
<code class="css" contenteditable="true">
.clearfix:before,
.clearfix:after {
  content: '';
  /* 创建 BFC 元素, 隔离 top/bottom 元素, 不让 margin 重叠 */
  display: table;
  /* 其他方法:
    display: block;
    height: 0;
    overflow: hidden;
  */
}
/* 清除浮动 */
.clearfix:after {
  clear: both;
}
/* IE 6/7 */
.clearfix {
  *zoom: 1;
}
</code>
</pre>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>OOCSS</h1>
    </div>
    <div class="bd">
      <ol>
        <li>抽象模块 - title/list/button/media/popup/grid/form/table/link/icon 等
        <li>分离容器和内容
        <li>结构和皮肤分离 - 皮肤(颜色/边框/图像)
        <li>分离轮廓和背景
        <li>组合大于继承
        <li>自适应 - 可任意移植到其他模块(位置)
      </ol>
    </div>
    <div class="bd">
      <ul>
        <li>http://www.slideshare.net/stubbornella/presentations
        <li>https://github.com/stubbornella/oocss-code-standards
        <li>https://github.com/stubbornella/oocss-accessibility-guidelines
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>组合大于继承</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
// html 
&lt;div class="message success"&gt;&lt;/div&gt;
&lt;div class="message error"&gt;&lt;/div&gt;

// css
.message {
  border: 1px solid #eee;
}
.success {
  color: green;
}
.error {
  color: red;
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
// html 
&lt;div class="message-success"&gt;&lt;/div&gt;
&lt;div class="message-error"&gt;&lt;/div&gt;

// css
.message-success, .message-error {
  border: 1px solid #eee;
}
.message-success {
  color: green;
}
.message-error {
  color: red;
}
</code>
</pre>
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>SASS</h1>
    </div>
    <div class="bd">
      <p>说在开头: <br />
      CSS 可以解决时, 不必要使用预处理工具. <br />
      当在使用 CSS 的很复杂或文件很大, 不再容易维护时, 可使用工具来辅助开发.
      <p><a href="http://sass-lang.com/">SASS</a>: CSS 预处理器, 即在上线部署之前, 把 SASS 文件编译成 .css 文件.
      <ul>
        <li>SASS 的 .scss 格式兼容 CSS 语法.
        <li>chrome 通过 <abbr title=".CSS 文件末尾添加 /*# sourceMappingURL=mixin.css.map */ 即可.">sourceMap</abbr>, 支持调试 sass 文件.
    </div>
  </section>  
  <section class="slide">
    <div class="hd">
      <h1>Install</h1>
    </div>
    <div class="bd">
      <ol>
        <li>install:
          <ol>
            <li>install ruby
            <li>gem install sass
          </ol>
        <li>command:
          <ol>
            <li>sass --watch index.scss:output.css
            <li>sass --watch app/sass:public/css
            <li>--style nested/compact/expanded/compress
          </ol>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>comments</h1>
    </div>
    <div class="bd">
      <ul>
        <li>//
        <li>/* ... */
        <li>/*! CopyRight! */
        <li>/* #{$variable} */
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>@import</h1>
    </div>
    <div class="bd">
      <h2>sass</h2>
      <ul>
        <li>@import 'reset';
        <li>@import 'reset.scss';
        <li>@import 'reset', 'media';
        <li>@import url("http://fonts.googleapis.com/css?family=#{$family}");
        <li>#box { @import 'css3'; }
      </ul>
      <h2>css</h2>
      <ul>
        <li>.css
        <li>http://
        <li>url(...)
        <li>@import 'foo' screen;
      </ul>
    </div>
  </section> 
  <section class="slide">
    <div class="hd">
      <h1>variables</h1>
    </div>
    <div class="bd">
      <ul>
        <li>$id: _prefix_;
        <li>#{$id}
        <li>!global
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>nested</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
#box {
  .comment {
    color: #f00;
  }
}
</code>
</pre>      
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
#box .comment {
  color: #f00;
}
</code>
</pre>      
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
// &
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
$box: _sogou_xx_ext_;
##{$box} {
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    border-right: 1px solid #eee;
  }
  &last {
    border-right: none;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
#_sogou_xx_ext_  ul {
  overflow: hidden;
}
#_sogou_xx_ext_ li {
  float: left;
  border-right: 1px solid #eee;
}
#_sogou_xx_ext_last {
  border-right: none;
}
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
a {
  color: red;
  .webkit & {
    color: green;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
a { color: red; }
.webkit a { color: green; }
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
#box {
  background: #faa;
  @at-root .message {
    color: #eee;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
#box {
  background: #faa;
}
.message {
  color: #eee;
}
</code>
</pre>
      </div>
    </div>
  </section> 
  <section class="slide">
    <div class="hd">
      <h1>@mixin</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
#box {
  @include border-radius(10px);
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
// css

#box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
$color: white;
@mixin colors($color: blue) {
  background-color: $color;
  @content;
  border-color: $color;
}
.colors {
  @include colors { color: $color; }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
.colors {
  background-color: blue;
  color: white;
  border-color: blue;
}
</code>
</pre>
      </div>
    </div>
    <a href="https://github.com/airen/Sass_mixins_function">https://github.com/airen/Sass_mixins_function</a>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>@extend</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
</code>
</pre>
      </div>
    <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
.message, 
.success, 
.error, 
.warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}
</code>
</pre>
      </div>
    </div>
  </section>
<section class="slide">
    <div class="hd">
      <h1>%placeholder</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
%message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend %message;
  border-color: green;
}

.error {
  @extend %message;
  border-color: red;
}

.warning {
  @extend %message;
  border-color: yellow;
}
</code>
</pre>
      </div>
    <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
.success, 
.error, 
.warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}

</code>
</pre>
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Data Types</h1>
    </div>
    <div class="bd">
      <li>numbers( 1.2, 13, 10px )
      <li>string( 'foo', 'bar', baz )
      <li>color( blue, #000, rgba(255, 0, 0, 0.5) )
      <li>booleans( true, false )
      <li>nulls( null )
      <li>list (value value2 value3 value3 )
      <li>map (key: value, key: value )
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Operator</h1>
    </div>
    <div class="bd">
      <ul>
        <li>+ - * / %
        <li>== != > >= < <=
        <li>color operator
      </ul>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
  p {
    font: 10px/8px; // no division
    $width: 1000px;
    width: $width / 2;
    width: round(1.5) / 2;
    height: (500px / 2);
    margin-left: 5px + 8px / 2px;
  }
</code>
</pre>      
      </div>
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
#box {
  $color: rgba( 100, 0, 0, 0.5 );
  color: opacify( $color, 0.3 );
  background-color: transparentize($color, 0.25);
}
/*
#box {
  color: rgba(100, 0, 0, 0.8);
  background-color: rgba(100, 0, 0, 0.25);
}
*/
</code>
</pre>      
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>@if..@else</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
@mixin inline-block( $vertical, $flag ) {
  display: inline-block;
  @if ( $vertical ) {
    vertical-align: $vertical;
  }
  @if ( $flag ) {
    _display: inline;
  }
}
#box {
  @include inline-block( top, false );
}
#message {
  @include inline-block( middle, true );
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
#box {
  display: inline-block;
  vertical-align: top;
}

#message {
  display: inline-block;
  vertical-align: middle;
  _display: inline;
}
</code>
</pre>
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>@for/@while</h1>
    </div>
    <div class="bd">
      <ul>
        <li>@for $var from {start} to {end}
        <li>@for $var from {start} through {end}
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>@each.. in..{list/map}</h1>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
@each $animal in puma, sea-slug, egret, salamander {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
.puma-icon {
  background-image: url("/images/puma.png");
}

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
}

.egret-icon {
  background-image: url("/images/egret.png");
}

.salamander-icon {
  background-image: url("/images/salamander.png");
}
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
@each $animal, $color, $cursor in (puma, black, default),
                                  (sea-slug, blue, pointer),
                                  (egret, white, move) {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
.puma-icon {
  background-image: url("/images/puma.png");
  border: 2px solid black;
  cursor: default;
}

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
  border: 2px solid blue;
  cursor: pointer;
}

.egret-icon {
  background-image: url("/images/egret.png");
  border: 2px solid white;
  cursor: move;
}
</code>
</pre>
      </div>
    </div>
    <div class="box">
      <div class="grid">
<pre class="codebox">
<code class="scss" contenteditable="true">
@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}
</code>
</pre>
      </div>
      <div class="grid">
<pre class="codebox">
<code class="css" contenteditable="true">
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}
</code>
</pre>
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>SASS Features</h1>
    </div>
    <div class="bd">
      <ul>
        <li>Arguments
        <li>@media
        <li>@function/@return
        <li>@debug/@warn/@error
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Grunt/Gulp</h1>
    </div>
    <div class="bd">
      <p>合并/优化/压缩文件 - 配置/流</p>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1><a href="http://zhanhongtao.github.io/blog/ppt/sass/">Layout</a></h1>
    </div>
    <div class="bd">
      <ul>
        <li>Side + Main
        <li>Side + Main + Extra
        <li>Main + Side
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Homework</h1>
    </div>
    <div class="bd">
      <ul>
        <li>有一个容器, 左右两列组成
        <li>左侧是图片, 右侧是内容(有可能很复杂)
        <li>左右两侧存在间隙 - ex: 10px;
        <li>左侧图片的尺寸不固定( width/height 都不固定 )
        <li>右侧内容不能环绕左侧图片
        <li>右侧要求占满余下空间
        <li>右侧内容可能超出容器 - ex: New! 小图标
      </ul>
    </div>
  </section>
  <section class="slide">
    <div class="hd">
      <h1>Links</h1>
    </div>
    <div class="bd">
      <ul>
        <li>http://oocss.org/
        <li>http://www.w3.org/TR/css3-selectors/
        <li>https://www.chromestatus.com/features
        <li>http://www.zhihu.com/question/20086234
      </ul>
    </div>
  </section>
  <section class="slide slide-cover">
    <h1>?</h1>
  </section>
  <nav id="navigator"></nav>
  <script src="./js/event.js"></script>
  <script src="./js/se.js?v=1"></script>
  <script src="./js/hash.js"></script>
  <script src="./js/runcase.js?v=1"></script>
  <script src="./js/ui.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/touch.js"></script>
  <script src="./js/auto.slide.js"></script>
</body>
</html>
