/*
 * 绝对定位.
 * media 布局中使用较多.
 */

.extra,
.tag { 
  display: none;
}

.content,
.side {
  height: 200px;
}

.wrap {
  position: relative;
  zoom: 1;
}

.main {
  width: 100%; 
}

.content {
  margin-left: 210px;
  background-color: #faa;
}

.side {
  width: 200px;
  background-color: #ffa;
  position: absolute;
  top: 0;
  left: 0;
}

