/*
 * 尝试使用 css3 技术 - calc.
 * firefox 浏览器 newtab 页已在使用.
 * calc 和 flex.
 */

.extra,
.tag { display: none; }

.main,
.side {
  float: left;
  height: 200px;
}

.main {
  width: calc( 100% - 210px );
  margin-right: 10px;
  background-color: #ffa;
}

.side {
  width: 200px;
  background-color: #faa;
}


