/* ¼û 1.css */
.extra,
.tag { display: none; }

.content, 
.side { height: 200px; }

.main {
  float: left;
  width: 100%;
}

.content {
  margin-left: 210px;
  background-color: #ffa;
}

.side {
  float: left;
  width: 200px;
  margin-left: -100%;
  background-color: #faa;
}

