/* use flex & order */
.wrap {
  display: flex;
}

.extra,
.tag { display: none; }

.main,
.side { height: 200px; }

.main {
  order: 2;
  flex: 1;
  margin-left: 10px;
  background-color: #ffa;
}

.side {
  order: 1;
  width: 200px;
  background-color: #faa;
}

