<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link rel="stylesheet" href="clearfix.css">
  <link rel="stylesheet" href="1.css" id="style">
</head>
<body>
  <div class="wrap clearfix">
    <div class="main">
      <div class="content">
        <i class="tag"></i>
      </div>
    </div>
    <div class="side"></div>
    <div class="extra"></div>
  </div>
  <script>
    var link = document.getElementById( 'style' );
    function update( src ) { console.log( src ); link.href = src + '.css'; }
    try { var value = localStorage.src; console.log( 'init:', value ); if ( value ) update( value ); } catch(e) {}
    document.onkeydown = function(e) {
      e = e || window.event;
      if ( e.altKey ) {
        var value = e.keyCode - 48;
        if ( value >= 0 && value <= 9 ) {
          update( value );
          try { localStorage.src = value; } catch(e) {}
        }
      }
    };
  </script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?51af31ebd7b05fdb3e478e13b16e757b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>

