/* fullscreen style */
.ppt:-webkit-full-screen {
  background-color: #333;
  color: #FFF;
}

.ppt:-webkit-full-screen pre,
.ppt:-webkit-full-screen code,
.ppt:-webkit-full-screen .codebox {
  background-color: rgba(32, 32, 32, 0.54);
  color: #FF9B05;
  font-size: 12px;
}