body {
  display: -webkit-flex;
}
ul {
  padding-left: 0px;
  list-style-position: inside;
}
section {
  display: -webkit-flex;
  display: flex;
  width: 650px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid green;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-justify-content: flex-start;
  -webkit-align-items: stretch;
}
.flex-item {
  -webkit-flex: 0 0 100px;
  min-height: 100px;
}
h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
}
h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 3px 0;
}
label {
  display: block;
}

