@charset "utf-8";

html {
  font-size: 62.5%;
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}

h1, h2, h3, h4, h5, h6, dl {
  margin: 0;
  padding: 0;
}

body {
  // @todo: 确定字体顺序.
  font: 2rem/1.5 "Microsoft Yahei", "Consolas", "lucida Grande", Verdana;
  overflow-x: hidden;
  color: #333;
}

h1, .h1 { font-size: 2.8rem; }
h2, .h2 { font-size: 2.0rem; }
h3, .h3 { font-size: 1.6rem; }
h4, .h4 { font-size: 1.2rem; }

// ol { padding-left: 40px; }
// ul { padding-left: 25px; }
ul, ol {
  list-style: none;
  padding-left: 1em;
}

%list-style {
  position: absolute;
  margin-left: -1em;
  color: #ccc;
}

ul li:before {
  @extend %list-style;
  content: '*';
  margin-top: 4px;
}

ol {
  // 可以设置计数从几开始
  counter-reset: list -1;
}
ol li:before {
  @extend %list-style;
  // 可以设置增量; 可以负值
  counter-increment: list 1;
  content: counter(list) ". ";
  // 第二个参数, 可以指定 list-style-type
  // counter(name, style);

  // 累积计数
  // counters(name, style);
}

li { margin: 1.5rem auto; }

.no-style {
  list-style: none;
  padding-left: 0;
}

.hd { margin: 10px auto; }
.bd { margin: 15px auto; }

.bd h2 {
  margin: 10px 0;
}

dt, dd { margin: 15px auto; }
dd { text-indent: 2em; }

.ppt {
  .box {
    display: -webkit-flex;
    display: flex;
  }
  .grid {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
  }
  .grid +.grid  { margin-left: 10px; }
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  padding: 0 20px;
}
.c1 { background-color: rgba(105, 94, 197, 0.05); }
.c2 { background-color: rgba(105, 94, 197, 0.05); }
.c3 { background-color: rgba(105, 94, 197, 0.05); }
.c4 { background-color: rgba(105, 94, 197, 0.05); }
.c5 { background-color: rgba(105, 94, 197, 0.05); }
.c6 { background-color: rgba(105, 94, 197, 0.05); }
.c7 { background-color: rgba(105, 94, 197, 0.05); }

code {
  padding: 5px;
  border-radius: 2px;
  background-color: #f0f0f0;
  color: #333;
  outline: none;
  font-size: 1.4rem;
  margin: 0 5px;
  vertical-align: middle;
}

.code code {
  padding: 10px;
  margin: 0;
}

mark, .mark {
  padding: 0 6px;
  color: #200707;
}

pre, pre.code {
  margin: 10px 0 0;
  padding: 0;
  display: block;
  outline: none;
  background-color: #F0F0F0;
  position: relative;
  overflow: auto;
}

.run,
.runcase {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  padding: 4px 20px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #1A69AB;
  background-color: #BDBDB4;
}

sub, sup {
  font-size: 0.5rem;
}

a, a:active {
  color: #168599;
}

.image {
  text-align: center;
}
.image img {
  margin: 10px;
  max-width: 100%;
}

.helper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

