#calendar {
  margin-top: 18px;
  position: relative;
  border: 1px solid #e9e9e9;
  height: 50px;
  background-color: #fff;
  -webkit-user-select: none
}

#calendar .calendar-view {
  padding: 0 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center
}

#calendar-value {
  -webkit-box-flex: 1;
  flex: 1;
  cursor: pointer;
  height: 100%;
  line-height: 50px
}

#calendar #calendar-next-day:after, #calendar #calendar-prev-day:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 18px
}

#calendar-next-day {
  padding: 10px;
  cursor: pointer
}

#calendar-next-day:after {
  background: url(../images/next.png) no-repeat 50% 50%;
  background-size: 100%
}

#calendar-prev-day {
  padding: 10px;
  cursor: pointer
}

#calendar-prev-day:after {
  background: url(../images/prev.png) no-repeat 50% 50%;
  background-size: 100%
}

#calendar-detail {
  position: absolute;
  top: 50px;
  left: 25px;
  right: 25px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  display: none
}

#calendar table {
  width: 100%;
  text-align: center
}

#calendar caption {
  position: relative;
  padding: 10px;
  border: 1px solid #2492d9;
  background-color: #5094f6;
  color: #fff;
  -webkit-user-select: none
}

#calendar caption .title {
  cursor: pointer;
}


#calendar .calendar-prev:after, #calendar .calendar-next:after {
  content: '';
  display: block;
  margin-top: 1px;
  border: 6px solid transparent
}

#calendar .calendar-prev {
  position: absolute;
  left: 10px;
  top: 8px;
  padding: 5px
}

#calendar .calendar-prev:after {
  border-right-color: #fff
}

#calendar .calendar-next {
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 5px
}

#calendar .calendar-next:after {
  border-left-color: #fff
}

#calendar tr {
  height: 24px
}

#calendar th {
  color: #5094f6;
  font-size: 12px
}

#calendar .item {
  text-align: center;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  cursor: pointer
}

#calendar .month-view .item,
#calendar .day-view .item {
  width: 24px;
  border-radius: 50%;
}

#calendar .weekend {
  color: #E417AA
}

#calendar .disabled {
  color: #bcbcbc
}

#calendar .selected, #calendar .sameday {
  color: #fff;
  background-color: #5094f6;
}

#calendar .sameday,
#calendar .samemonth,
#calendar .sameyear {
  background-color: rgba(80, 148, 246, 0.5)
}

#calendar .not-current-month {
  opacity: 0.1;
  cursor: default
}

#calendar .year-view tr,
#calendar .month-view tr {
  height: 48px;
}