

.slide {
  padding: 0 10px;
}

.ppt .slide {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 560px;
  height: 280px;
  top: 50%;
  display: none;
  margin: -180px auto;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ppt .slide-target,
.ppt .slide:target {
  display: block;
}

#navigator {
  display: none;
}

.ppt #navigator {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  background: rgb(91, 231, 56);
  height: 1px;
}

.ppt .slide-cover {
  text-align: center;
}

.ppt .slide-cover h1 {
  margin-top: 80px;
  font-size: 28px;
}

.ppt .slide-cover h2,
.ppt .slide-cover h3 {
  color: #B5B8A6;
  font-weight: normal;
}

.ppt .sub-slide {
  display: none;
  -webkit-animation: opacity .5s linear;
}

.ppt .sub-slide-block {
  display: block;
}

/* 文档模式下显示 */
.helper {
  padding: 0 10px;
}

/* 手机下样式 */
@media screen and ( max-width: 480px ) {
  .pc-helper {
    display: none;
  }
}

.ppt pre {
  max-height: 260px;
}

.ppt .content-toggle {
  display: none;
}

.ppt .slide-target-prev {
  -webkit-animation: opacity .5s linear;
}

.ppt .slide-target-next {
  -webkit-animation: opacity .5s linear;
}

.ppt .slide-cover {
  -webkit-animation: top2bottom .5s linear;
}

.ppt .slide-function-info {
  background: url(./function.png) no-repeat right center;
  background-size: 350px;
}

