@charset "utf-8";

.ppt {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
}
.ppt .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px 5%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  outline: 0;
  overflow: auto;
}

.ppt .slide-cover {
  display: -webkit-flex !important;
  display: flex !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0;
}

.ppt .target {
  z-index: 2;
  opacity: 1;
  display: block;
}

.ppt .prev,
.ppt .next {
  opacity: 0;
  display: block;
}
.ppt .next {
  z-index: 3;
  -webkit-transform: translateX( 100% );
  transform: translateX( 100% );
}
.ppt .prev {
  z-index: 1;
  -webkit-transform: translateX( -100% );
  transform: translateX( -100% );
}

/* cover 页面下特殊样式 */
.ppt .slide-cover h1 {
  font-size: 64px;
  margin-top: -10%;
}
.ppt .slide-cover h2,
.ppt .slide-cover h3 {
  color: #B5B8A6;
  font-weight: normal;
}

.ppt .sub-slide {
  -webkit-transition: opacity .5s linear;
}

/* 临时关闭的 ppt 页面 */
.ppt .toggle {
  display: none;
}

/* 提示条 */
#navigator {
  display: none;
}

.ppt #navigator {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  background: #A88484;
  height: 1px;
}

.nav-next,
.nav-prev {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 64px 64px;
  display: none;
}

.display-navigator .nav-next,
.display-navigator .nav-prev {
  display: block;
}

.nav-next {
  right: 10px;
  background-image: url(../images/next.png);
}

.nav-prev {
  right: 20px;
  margin-right: 64px;
  background-image: url(../images/prev.png);
}

/* 黄色淡出 */
.yellowfade {
  -webkit-animation: yellowFade 1s linear;
  animation: yellowFade 1s linear;
}

@-webkit-keyframes yellowFade {
  10% {
    background: rgb( 255, 255, 171 );
  }
  100% {
    background: transparent;
  }
}

