:global {
  .calendar-wrap {
    position: relative;
    display: inline-block;
    border: 1px solid #7586F7;
    .calendar {
      padding: 0 4px;
      height: 24px;
      line-height: 24px;
      min-width: 240px;
      border: 0 none;
      outline: 0 none;
    }
  }
  .calendar-wrap:after {
    content: '';
    background: url(./calendar.gif) no-repeat 0 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
  }
}

.calendar {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 10;
  padding-bottom: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  [data-action] {
    cursor: pointer;
  }
}

.calendar table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

.calendar caption {
  position: relative;
  border: 1px solid #2492d9;
  color: #fff;
  background-color: #5094f6;
  -webkit-user-select: none;
  line-height: 30px;
}

.calendar {
  td, th {
    vertical-align: middle;
    border: 0 none;
    padding: 0;
  }
}

.title {
  cursor: pointer;
}

.previous,
.next {
  position: absolute;
  top: 8px;
}

.previous {
  left: 8px;
}

.next {
  right: 8px;
}

.previous:after,
.next:after {
  content: '';
  display: block;
  margin-top: 1px;
  border: 6px solid transparent
}

.previous:after {
  border-right-color: #fff
}

.next:after {
  border-left-color: #fff
}

.day-view,
.calendar tr {
  height: 24px
}

.calendar th {
  color: #5094f6;
  font-size: 12px
}

.grid {
  text-align: center;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  cursor: pointer;
  color: #333;
}

.grid:hover {
  outline: 1px dotted #0072fc;
  outline-offset: -1px;
}

.selected:hover,
.disabled:hover {
  outline: none;
}

.weekend {
  color: #E417AA
}

.disabled {
  color: #bcbcbc;
  cursor: default;
}

.today,
.sameday,
.samemonth,
.sameyear {
  background-color: rgba(80, 148, 246, 0.4)
}

.not-current-month {
  opacity: .4;
}

.selected {
  opacity: 1;
  color: #fff;
  background-color: #5094f6;
}

.year-view tr,
.month-view tr {
  height: 48px;
}
