* { 
  margin: 0; 
  padding: 0;
}

ul, li { 
  list-style: none;
}

a img { 
  display: block; 
  border: none; /* ie 下, 图片存在边框  */
}

#box,
#instance {
  width: 240px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

#instance {
  width: 720px;
}

ul {
  zoom: 1;
}

ul:after {
  content: '';
  display: table;
  clear: both;
}

li {
  float: left;
  height: 340px;
  background: url(../loading.gif) no-repeat 50% center;
  background-size: 30%;
}

#instance li {
  margin-right: 5px;
}

button {
  padding: 5px 20px;
  margin: 10px;
}

#box-helper {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

