* { 
  margin: 0; 
  padding: 0;
}

body {
  /* 修正 orientation 时, 字体放大 */
  -webkit-text-size-adjust: 100%;
}

ul, li { 
  list-style: none;
}

a img { 
  display: block; 
  border: none; /* ie 下, 图片存在边框  */
}

#box {
  width: 240px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  /* 修正点击时存在背景 */
  -webkit-tap-highlight-color: transparent;
}

ul {
  zoom: 1;
  height: 340px;
  overflow: hidden;
}

ul:after {
  content: '';
  display: table;
  clear: both;
}

li {
  float: left;
  height: 340px;
  background: url(../loading.gif) no-repeat 50% center;
  background-size: 30%;
}

.action {
  display: flex;
}

button {
  padding: 5px 20px;
  margin: 10px;
  flex: 1;
}

#box-helper {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

